<a href="https://colab.research.google.com/github/rafaelminski/Python_estacio/blob/main/manipulandoDados.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

from pandas import Series, DataFrame

In [2]:
dados = np.arange(30)

In [3]:
dados

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29])

In [4]:
np.arange(30).reshape((6, 5))

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14],
       [15, 16, 17, 18, 19],
       [20, 21, 22, 23, 24],
       [25, 26, 27, 28, 29]])

In [6]:
indice = ['linha 1','linha 2','linha 3','linha 4','linha 5','linha 6',
          'linha 7','linha 8','linha 9','linha 10','linha 11','linha 12',
          'linha 13','linha 14','linha 15','linha 16','linha 17','linha 18',
          'linha 19','linha 20','linha 21','linha 22','linha 23','linha 24',
          'linha 25','linha 26','linha 27','linha 28','linha 29','linha 30',]
serie = Series(np.arange(30), index = indice )
serie

linha 1      0
linha 2      1
linha 3      2
linha 4      3
linha 5      4
linha 6      5
linha 7      6
linha 8      7
linha 9      8
linha 10     9
linha 11    10
linha 12    11
linha 13    12
linha 14    13
linha 15    14
linha 16    15
linha 17    16
linha 18    17
linha 19    18
linha 20    19
linha 21    20
linha 22    21
linha 23    22
linha 24    23
linha 25    24
linha 26    25
linha 27    26
linha 28    27
linha 29    28
linha 30    29
dtype: int64

In [8]:
np.random.seed(30)
indice =  ['linha 1', 'linha 2', 'linha 3', 'linha 4', 'linha 5', 'linha 6']
colunas = ['coluna 1', 'coluna 2', 'coluna 3', 'coluna 4', 'coluna 5' ]
df = DataFrame(np.random.rand(30).reshape((6, 5)),
               index = indice,
               columns = colunas)
df

         coluna 1  coluna 2  coluna 3  coluna 4  coluna 5
linha 1  0.644144  0.380748  0.663048  0.163651  0.962608
linha 2  0.346662  0.991751  0.235058  0.585694  0.406690
linha 3  0.136234  0.544136  0.518176  0.766855  0.933850
linha 4  0.089703  0.195771  0.994194  0.235180  0.238986
linha 5  0.629100  0.734953  0.688344  0.031131  0.902514
linha 6  0.286435  0.555613  0.376420  0.026624  0.494149

In [9]:
df.loc[['linha 2', 'linha 5'], ['coluna 5', 'coluna 2']]

         coluna 5  coluna 2
linha 2  0.406690  0.991751
linha 5  0.902514  0.734953

In [10]:
serie['linha 3':'linha 7']

linha 3    2
linha 4    3
linha 5    4
linha 6    5
linha 7    6
dtype: int64